@page
@model FociWebApp.Pages.UjMeccsFelveteleModel

@{
    ViewData["Title"] = "UjMeccsFelvetele";
}

<h1>UjMeccsFelvetele</h1>

<h4>Meccs</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Meccs.Fordulo" class="control-label"></label>
                <input asp-for="Meccs.Fordulo" class="form-control" />
                <span asp-validation-for="Meccs.Fordulo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Meccs.HazaiVeg" class="control-label"></label>
                <input asp-for="Meccs.HazaiVeg" class="form-control" />
                <span asp-validation-for="Meccs.HazaiVeg" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Meccs.VendegVeg" class="control-label"></label>
                <input asp-for="Meccs.VendegVeg" class="form-control" />
                <span asp-validation-for="Meccs.VendegVeg" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Meccs.HazaiFelido" class="control-label"></label>
                <input asp-for="Meccs.HazaiFelido" class="form-control" />
                <span asp-validation-for="Meccs.HazaiFelido" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Meccs.VendegFelido" class="control-label"></label>
                <input asp-for="Meccs.VendegFelido" class="form-control" />
                <span asp-validation-for="Meccs.VendegFelido" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Meccs.Hazaicsapat" class="control-label"></label>
                <input asp-for="Meccs.Hazaicsapat" class="form-control" />
                <span asp-validation-for="Meccs.Hazaicsapat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Meccs.Vendegcsapat" class="control-label"></label>
                <input asp-for="Meccs.Vendegcsapat" class="form-control" />
                <span asp-validation-for="Meccs.Vendegcsapat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
